body {
  background-color: black;
  color: white;
  font-family: Calibri, sans-serif;
  margin: 0;
  overflow-y: auto;
  scroll-behavior: auto;
}

#controls {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #222;
  padding: 4px;
  box-sizing: border-box;
  z-index: 1000;
  height: 50px;
}

#controls button {
  flex: 1;
  font-size: 1em;
  padding: 6px 0;
  cursor: pointer;
  border: none;
  background-color: #444;
  color: white;
  margin: 0 4px;
  border-radius: 4px;
}

#controls button:hover {
  background-color: #666;
}

#controls button.active {
  background-color: #2467b3;
}

.content {
  margin-top: 60px;
  padding: 12px;
}

p {
  font-size: calc(2vw + 1.8em);
  word-wrap: break-word;
}
